@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Roboto:wght@300&display=swap');

*{
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif; 
}

html{
    font-size: 62.5%;
}

body {
    background: #181818;
    color: #fff;
    line-height: 1.6;
    font-family: 'Quicksand', sans-serif;
    padding: 0 1.5em;
    overflow-x: hidden;
}

.container {
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

ul {
    list-style: none;
    padding: 0;
}

.logo {
    text-align: center;
    font-size: 3em;
    color: rgba(233, 226, 221, 0.8);
}

.logo span {
    color: #B70E21;
}

.contact-wrapper {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.contact-wrapper > * {
    padding: 1em;
}

.contact-form {
    background: #222222;
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form label {
    display: block;
    color: rgba(233, 226, 221, 0.8);
    font-size: 2rem;
    line-height: 2.2rem;
    font-weight: 400;
    height: 90%;
}

.contact-form form p {
    margin: 0;
    padding: 1em;
}

.contact-form form .block {
    grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #d63031;
}

.contact-form form button {
    background: #B70E21;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
    background: #d63031;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}

.contact-info {
    background: #000;
}

.contact-info h4, .contact-info ul, .contact-info p {
    text-align: center;
    margin: 0 0 1rem 0;
}

h1{
    font-size: 3.6rem;
    color: rgba(233, 226, 221, 0.8);
    text-decoration: underline;
    font-family: 'Nunito sans', 'sans-serif';
    height: auto;
    text-align: center;
}

h4{
    font-size: 2.6rem;
    font-family: 'Nunito sans', 'sans-serif';
    text-decoration: underline;
    color: rgba(233, 226, 221, 0.8);
}

h2,h3{
    color: rgba(233, 226, 221, 0.8);
    text-decoration: underline;
    font-family: 'Nunito sans', 'sans-serif';
    height: auto;
    text-align: center;
    margin: 0;
    font-size: 3em;
}

.bord-red{
    border-bottom: 1px solid #d63031;
}

nav{
    background-color: rgba(233, 86, 86, 0.8);
    width: 100%;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    nav a img{
        width: 9rem;
        margin: 0 20px;
        padding-top: 3px;
        cursor: pointer;
    }
    nav ul {
        list-style: none;
        display: flex;
        padding-right: 10px;
        justify-content: space-evenly;
    }
            nav ul li a{
                color: rgb(0, 0, 0);
                text-decoration: none;
                font-family: 'Nunito Sans', sans-serif;
                font-size: 2rem;
                padding: 0 5px;
                background-image: linear-gradient(currentColor, currentColor);
                background-position: 0% 100%;
                background-repeat: no-repeat;
                background-size: 0% 2px;
                transition: background-size .3s;

            }
            nav ul li a:hover{
                color: #1c0abb;
                background-size: 100% 2px;
                list-style: none;
                font-weight: 550;
                cursor: pointer;
            }

header img{
    width: 100%;
}

main article section p{
    text-align: center;
    font-size: 2rem;
    color: rgba(233, 226, 221, 0.8);
    line-height: 2.2rem;
    font-weight: 400;
    padding: 5px 0;
    margin: 0px;
    width: 100%;
    overflow-x: none;
    height: 90%;
}

div .flexContainer{
    border-bottom: 1px solid #d63031;
}

main{
    background-color: rgb(0, 0, 0);
}

.flexContainer{
    padding: 5px 10px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    justify-content: center;
    text-align: center;
}

.bg-black{
    background-color: rgb(0, 0, 0);
}
.figureImg{
    width: 40%;
    padding: 5px 10px;
}

.h-vp{
    height: 30vh;
}

.flex{
    display: flex;
    align-items: center;
}

main article section figure{
    display: flex;
    justify-content: space-evenly;
}

.rowReverse{
    flex-direction: row-reverse;
}

.justiEvenly{
    display: flex;
    justify-content: space-evenly;
}

.contenedorGrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
    "nav nav nav nav"
    "main main main main"
    "pie pie pie pie"
}

.tittle{
    display: flex;
    width: 100%;
    align-items: center;
}

.tittle h1, h2{
    width: 100%;
}

.main{
    grid-area: main;
    width: 100%;
}

.text{
    text-align: center;
    font-size: 2rem;
    background-color: rgba(0,0,246,.3);
    line-height: 2.2rem;
    font-weight: 400;
    padding: 5px 0;
    margin: 0px;
    width: 100%;
    border: solid rgb(130, 141, 163) 1px;
    overflow-x: none;
    height: 90%;
}

.nav{
    grid-area: nav;
}

.white{
    color: rgba(233, 226, 221, 0.8);
}

.textWhite{
    color: rgba(233, 226, 221, 0.8);
    font-size: 2rem;
    line-height: 2.2rem;
    font-weight: 400;
    height: 90%;
}
.pie{
    text-align: center;
    background-color: rgb(34,34,34)
}

.pieIcon{
    width: 30px;
}

.gridCont{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    grid-template-areas:
    "descrip descrip descrip descrip"
    "hiper hiper hiper hiper"
    "toni toni toni toni"
    "fuerza fuerza fuerza fuerza"
    "res res res res";
}

#descripcion{
    grid-area: descrip;
    width: 100%;
}

.hipertrofia{
    grid-area: hiper;
    width: 100%;
}

.tonificacion{
    grid-area: toni;
    width: 100%;
}

.fuerza{
    grid-area: fuerza;
    width: 100%;
}

.resistencia{
    grid-area: res;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .flexContainer{
        flex-direction: column;
    }
    .figureImg{
        max-width: 100%;
        width: auto;
    }
    .contenedorGrid{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(auto, 1fr);
    }
    .contact-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .contact-wrapper > * {
        padding: 2em;
    }
    .contact-info h4,
    .contact-info ul,
    .contact-info p {
        text-align: left;
    }
}
